@font-face {
    font-family: 'Chopin-Trial';
    src: url('public\font\Chopin-Trial-Bold.ttf') format('ttf');
        
}

/* Use the font */
body {
    /* background-color: var(--main1-color); */
}
#NavItems{
    font-family: 'Chopin-Trial';
    font-weight: bold;
}
#loginBTN{
    background-color: var(--main2-color);
    border-radius: 63px;
    width: 100px;

}
:root {
    --main1-color: rgba(231, 244, 224, 100); 
    --main2-color: rgba(81, 159, 145, 100);

}


